<!--page-content-wrapper-->

<div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
        <div class="breadcrumb-title pr-3">QAM</div>
        <div class="pl-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Category Manager</li>
                </ol>
            </nav>
        </div>

    </div>
    <!--end breadcrumb-->
    <div class="user-profile-page">
        <div class="row">


            <div class="col-4">
                <div class="card radius-15">
                    <div class="container">
                        <div class="card-body text-center  align-content-center ">
                            <br>
                            <h4 class="mb-0 text-center">Category List</h4>
                            <hr>
                            <ul class="list-group mb-2 " *ngFor="let category of categories">
                                <div class="row">

                                    <li (click)="getIdeaByCategory(category.id)" class=" col-md-10 list-group-item" type="button" data-toggle="tooltip" title="List Idea">
                                        <p class="mb-0"><i class='bx bx-globe'></i> {{category.name}}
                                        </p>
                                    </li>
                                    <button (click)="deleteCategory(category.id)" class="col-md-2 btn btn-danger" data-toggle="tooltip" title="Delete Category"><i
                                            class="fadeIn animated bx bx-trash-alt"></i></button>
                                </div>

                            </ul>




                        </div>

                    </div>
                </div>
            </div>

            <div class="col-8">
                <div class="card radius-15">
                    <div class="container">
                        <div class="card-body text-center">
                            <div class="row me-2">

                                <div class="flex-grow-1 search-bar col-lg-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend search-arrow-back">
                                            <button class="btn btn-search-back " type="button"><i
                                                    class="bx bx-arrow-back"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control" placeholder="search" />
                                        <div class="input-group-append">
                                            <button class="btn btn-search" type="button"><i
                                                    class="lni lni-search-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">

                                    <button (click)="isShowForm = true" *ngIf="!isShowForm" class="btn btn-success"> <i
                                            class="fadeIn animated bx bx-add-to-queue"></i>
                                        Add new Category</button>
                                    <br>

                                </div>
                                <br>

                                <div *ngIf="isShowForm">
                                    <div class="row me-2">
                                        <form [formGroup]="categoryForm" (ngSubmit)="addCategory()" novalidate>

                                            <div class="form-group">
                                                <h4>Name Category </h4>

                                                <input type="text" class="form-control" placeholder="Enter Name Category" formControlName="name" />
                                                <div class="text-danger text-center invalid-feedback d-block" *ngIf="!categoryForm.get('name')?.valid && (categoryForm.get('name')?.dirty || categoryForm.get('name')?.touched)">
                                                    <span [hidden]="!categoryForm!.get('name')?.errors?.['required']">
                                                        Name is required!
                                                    </span>
                                                </div>

                                                <!--<div class="text-danger text-center invalid-feedback d-block" *ngIf="!addcategoryForm.controls.Newcategory?.valid && (addcategoryForm.controls.Newcategory?.dirty || addcategoryForm.controls.Newcategory?.touched)">
                                            <span [hidden]="!addcategoryForm.controls.Newcategory.errors?.['required']">
                                                Password is required!
                                            </span>
                                            <span [hidden]="!addcategoryForm.controls.Newcategory.errors?.['minlength']">
                                                Password must be at least 3 characters long!
                                            </span>
                                        </div>-->
                                                <br>
                                                <button class="btn btn-success" type="submit"> <i
                                                        class="fadeIn animated bx bx-add-to-queue"></i>
                                                    Add new Category</button>
                                            </div>
                                        </form>
                                    </div>


                                </div>
                                <hr>


                                <h3 *ngIf="ideas.length!=0" class="mb-0 text-center">Idea List </h3>
                                <br>

                                <h6 *ngIf="ideas.length!=0" class="mb-0 text-center text-danger">Total Idea: {{ideas.length}} </h6>
                                <hr />
                                <ul *ngIf="ideas.length!=0">
                                    <div class="table-responsive">
                                        <table class="table mb-0 font-20">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Name Staff</th>
                                                    <th>Description</th>
                                                    <th>Created Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let idea of ideas">
                                                    <td>{{idea.id}}</td>
                                                    <td>{{idea.user.fullName}}</td>
                                                    <td>{{idea.content}}</td>
                                                    <td>{{idea.createdAt | date : "medium"}}</td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                </ul>
                                <!--<div class="pagination justify-content-end">
                                    <nav aria-label="Page navigation example ">
                                        <ul class="pagination round-pagination ">
                                            <li class="page-item"><a class="page-link" href="javascript:;">Previous</a>
                                            </li>
                                            <li class="page-item-action"><a class="page-link"
                                                    href="javascript:;javascript:;">1</a>
                                            </li>
                                            <li class="page-item active"><a class="page-link" href="javascript:;">2</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="javascript:;">3</a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="javascript:;">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>