
              <div class="row">
						 <div class="col py-2">
          <div class="card radius-15">
            <div class="card-body">
           	<div class="media"> <i class='bx bxl-dribbble media-icons bg-dribbble'></i>
													<div class="media-body ml-3">Kieu Chinh Bui</div>
              <div class="float-right text-muted">
                Event 6
								<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">	<span class="sr-only">Toggle Dropdown</span>
								</button></div>
								<div class="dropdown-menu">	<a class="dropdown-item" href="#">Edit</a>
									<a class="dropdown-item" href="#">Detele</a>
</div>
              </div>
              <hr>
                      <h5 class="card-title">Selena Gomez Became the Most-Followed Woman on Instagram (Again)…And Promptly Left the Platform</h5>
              <p>
         Even as a lowly non-celeb, I can relate to the feeling of Instagram robbing you of your peace. (When I spend too much time on the platform, I swear I can feel my stored-up serotonin leaking out of my ears.) And while a significant part of my job relies on the concept of famous people oversharing on social media, I still hope Gomez has a restful and productive time away—just as long as she knows that when she’s ready to return, she’ll once again be the reigning queen of Instagram.
              </p>
              <div class="row">
															<div class="col-12 col-lg-3" style="margin: auto;">
																<img src="https://via.placeholder.com/800x500" class="img-thumbnail" alt="">
															</div>
              <a routerLink="/comments/comments-list"><button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-comment-detail'></i>90 </button>
							<button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-like'></i>25
							</button><button type="button" class="btn btn-outline-dark m-1"><i class='bx bx-dislike'></i> 5</button>
        </a>

						<div class="card-body">
							<div class="card-title">
					<p>Comments</p>
							</div>
							<hr/>
							<div class="list-group" style="width: 80%; margin: auto;font-size: 10px;">
								<div class="card-border"><a href="#" class="list-group-item list-group-item-action">
									<div class="d-flex w-100 justify-content-between">
										<p class="mb-1">User 1.</p>
										<small>3 hours</small>
									</div>
							<h5 class="mb-1">Good !</h5>	<small>Reply.</small>
								</a></div>
							<div class="card-border">	<a href="#" class="list-group-item list-group-item-action">
									<div class="d-flex w-100 justify-content-between">
									<p class="mb-1">User 2.</p>
										<small class="text-muted">2 days</small>
									</div>
								<h5 class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</h5>		<span><small class="text-muted">Reply.</small></span>
								</a></div>
							<div class="card-border"><a href="#" class="list-group-item list-group-item-action">
									<div class="d-flex w-100 justify-content-between">
									<p class="mb-1">User 3</p>		<small class="text-muted">3 days</small>
									</div>										<h5 class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</h5>

								<span><small class="text-muted">Reply.</small></span>
								</a>
                                                                </div>
                                                                	<div class="card-border"><a href="#" class="list-group-item list-group-item-action">
									<div class="d-flex w-100 justify-content-between">
									<p class="mb-1">You</p>
                                                                        <!---<small class="text-muted">3 days</small> -->
									</div>
                                                                        <!-- <h5 class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</h5>  -->
<textarea class="form-control" cols="3" rows="3"></textarea>

</a></div>
</div></div></div>



