.ng-trigger-dialogContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    height: 100vh;
}

.mat-dialog-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: fit-content !important;
}