<div class="page-content">
    <div class="page-breadcrumb d-none d-md-flex align-items-center mb-3">
        <div class="breadcrumb-title pr-3">Admin</div>
        <div class="pl-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class='bx bx-home-alt'></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Account Manager</li>


                    <li class="breadcrumb-item active" aria-current="page">All Account</li>
                </ol>
            </nav>
        </div>


    </div>
    <div class="col-md-12  card radius-15 align-content-center ">
        <h4 class="text-center">All Account </h4>
        <div class="card-body p-0">
            <div class="table-responsive p-1">
                <div class="row col-12 card radius-15 m-auto">
                    <table class="table mb-0">

                        <thead>
                            <tr>
                                <th class="align-middle text-center">ID</th>
                                <th class="align-middle text-center">Image</th>
                                <th class="align-middle text-center">Name</th>
                                <th class="align-middle text-center">Email</th>
                                <th class="align-middle text-center">Role</th>
                                <th class="align-middle text-center">Department</th>
                                <th class="align-middle text-center">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let account of users">
                                <td class=" align-middle text-center ">{{account.userId}}</td>
                                <td class="align-middle text-center ">

                                    <img class="bg-transparent border " [src]="account.avatar " width="35 " alt=" ">

                                </td>
                                <td class="align-middle text-center ">{{account.firstName}} {{account.lastName}}</td>
                                <td class="align-middle text-center ">{{account.email}}</td>
                                <td class="align-middle text-center">{{checkRole(account.role)}}</td>
                                <td *ngIf="account.department== null" class="align-middle text-center ">Null</td>
                                <td *ngIf="account.department!= null" class="align-middle text-center ">{{account.department.name}}</td>
                                <td class="align-middle text-center ">
                                    <!-- <button type="button " class="btn btn-info radius-15 me-3 " data-bs-toggle="modal " data-bs-target="#exampleModal " >Edit</button> -->
                                    <button type="button" class="btn btn-info radius-15 me-3 " data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getAnUser(account.userId)"> Edit</button>

                                    <button type="button " (click)="delete(account.userId) " class="btn btn-danger radius-15 ">Delete</button>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

                    <div class="modal-dialog ">
                        <div class="modal-content ">
                            <div class="modal-header ">

                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Account</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>


                            <div class="card-body ">

                                <div class="tab-content mt-3 ">

                                    <div class="shadow-none border mb-0 radius-15 ">
                                        <div class="card-body ">

                                            <div class="row ">
                                                <div class="col-12 ">

                                                    <form class="form-horizontal " [formGroup]="editAccountForm " (ngSubmit)="EditAccountForm(editAccountForm.value) " novalidate>
                                                        <div class="form-row ">
                                                            <div class="form-group col-md-6 ">
                                                                <label>First Name</label>
                                                                <input type="text " formControlName="firstName" placeholder="Nguyen Van " class="form-control " required>
                                                                <div class="text-danger text-center invalid-feedback d-block " *ngIf="editAccountForm.controls.firstName?.valid && (editAccountForm!.controls.firstName?.dirty || editAccountForm.controls.firstName?.touched) ">

                                                                    <span [hidden]="!editAccountForm.controls.firstName.errors?.[ 'required'] ">
                                                                        FirstName is required!
                                                                    </span>
                                                                    <span [hidden]="!editAccountForm.controls.firstName.errors?.[ 'minlength'] ">
                                                                        FirstName must be at least 3 characters long!
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-6 ">
                                                                <label>Last Name</label>
                                                                <input type="text " formControlName="lastName" placeholder="A " class="form-control " required>
                                                                <div class="text-danger text-center invalid-feedback d-block " *ngIf="!editAccountForm.controls.lastName?.valid && (editAccountForm.controls.lastName?.dirty || editAccountForm.controls.lastName?.touched) ">

                                                                    <span [hidden]="!editAccountForm.controls.lastName.errors?.[ 'required'] ">
                                                                        LastName is required!
                                                                    </span>
                                                                    <span [hidden]="!editAccountForm.controls.lastName.errors?.[ 'minlength'] ">
                                                                        LastName must be at least 2 characters long!
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group ">
                                                            <label>Email</label>
                                                            <input type="email " placeholder="svetlana1997@example.com " formControlName="email" class="form-control " required>
                                                            <div class="text-danger text-center invalid-feedback d-block " *ngIf="!editAccountForm.controls.email?.valid && (editAccountForm.controls.email?.dirty || editAccountForm.controls.email?.touched) ">

                                                                <span [hidden]="!editAccountForm.controls.email.errors?.[ 'required'] ">
                                                                    Email is required!
                                                                </span>
                                                                <span [hidden]="!editAccountForm.controls.email.errors?.[ 'email'] ">
                                                                    Email is invalid!
                                                                </span>
                                                                <span [hidden]="!editAccountForm.controls.email.errors?.[ 'minlength'] ">
                                                                    Email must be at least 3 characters long!
                                                                </span>

                                                            </div>


                                                        </div>


                                                        <div class="form-row ">
                                                            <div class="form-group col-md-6 ">
                                                                <label>Role</label>


                                                                <select class="form-select text-center " formControlName="role" required>

                                                                    <option
                                                                        *ngFor="let opt of ngOptionrole, let i=index "
                                                                        [value]="i+ 1 ">
                                                                        {{opt}}
                                                                    </option>
                                                                    <div class="text-danger text-center invalid-feedback d-block "
                                                                        *ngIf="!editAccountForm.controls.role?.valid && (editAccountForm.controls.role?.dirty || editAccountForm.controls.role?.touched) ">

                                                                        <span
                                                                            [hidden]="!editAccountForm.controls.role.errors?.[ 'required'] ">
                                                                            Role is required!
                                                                        </span>
                                                                        <span
                                                                            [hidden]="!editAccountForm.controls.role.errors?.[ 'minlength'] ">
                                                                            Role must be at least 6 characters long!
                                                                        </span>
                                                                    </div>

                                                                </select>



                                                            </div>

                                                            <div class="form-group col-md-6 ">
                                                                <label>Department</label>
                                                                <select class="form-select text-center " formControlName="department" required>

                                                                    <option *ngFor="let opt of ngDepartment "
                                                                        [value]="opt.id">
                                                                        {{opt.name}}
                                                                    </option>
                                                                    <div class="text-danger text-center invalid-feedback d-block "
                                                                        *ngIf="!editAccountForm.controls.department?.valid && (editAccountForm.controls.department?.dirty || editAccountForm.controls.department?.touched) ">

                                                                        <span
                                                                            [hidden]="!editAccountForm.controls.department.errors?.[ 'required'] ">
                                                                            Department is required!
                                                                        </span>
                                                                    </div>

                                                                </select>
                                                            </div>
                                                        </div>




                                                        <div class=" col-sm-12 form-group text-center align-content-center ">
                                                            <label>Image</label>
                                                            <input type="file" class="form-control " formControlName="avatar ">


                                                        </div>


                                                        <div class="modal-footer ">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit " (click)="editUser(this.editAccountForm.get('userId')?.value)" data-bs-dismiss="modal" class="btn btn-primary ">Save changes</button>
                                                        </div>


                                                    </form>



                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>


                <!-- 
                 <div class="pagination">
                    <button [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
                    <span>Page {{ currentPage }} of {{ totalPages }}</span>
                    <button [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
            </div> -->





            </div>
        </div>
        <div class="pagination justify-content-end">
            <nav aria-label="Page navigation example ">
                <ul class="pagination round-pagination ">
                    <li class="page-item">
                        <button class="page-link" [disabled]="currentPage === 1" (click)="previousPage()">Previous</button>
                    </li>
                    <li *ngFor="let i of pageArray" [ngClass]="{ 'active': i === currentPage }" class="page-item" id="paginator" (click)="changePage(i)"><a class="page-link">{{i}}</a>

                        <li class="page-item">
                            <button class="page-link" [disabled]="currentPage === totalPages" (click)="nextPage()">Next</button>
                        </li>
                </ul>
            </nav>
        </div>
    </div>

</div>