<!-- wrapper -->
<div class="wrapper">
    <!--sidebar-wrapper-->
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div class="">
                <img src="http://139.162.47.239/upload/default-avatar.png" class="logo-icon-2" alt="" />
            </div>
            <div>
                <h4 class="logo-text">Greenwich</h4>
            </div>
            <a href="javascript:;" class="toggle-btn ml-auto"> <i class="bx bx-menu"></i>
            </a>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
            <li>
                <a [routerLink]="['/staff/homepage']" href="#">
                    <div class="parent-icon icon-color-2"><i class="bx bx-home-alt"></i>
                    </div>
                    <div class="menu-title">Homepage</div>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon icon-color-2"><i class="bx bx-folder"></i>
                    </div>
                    <div class="menu-title">Event List</div>
                </a>
                <ul>

                    <li *ngFor="let event of events" [value]="event"><a type="button" (click)="navigateToEvent(event.id)"><i
                                                                class="bx bx-menu"></i> {{event.name}}</a>
                    </li>

                </ul>
            </li>


        </ul>
        <!--end navigation-->
    </div>
    <!--end sidebar-wrapper-->
    <!--header-->
    <app-header></app-header>
    <!--end header-->
    <!--page-wrapper-->
    <div class="page-wrapper">
        <!--page-content-wrapper-->
        <div class="page-content-wrapper">
            <router-outlet></router-outlet>
        </div>
        <!--end page-content-wrapper-->
    </div>
    <!--end page-wrapper-->
    <!--start overlay-->
    <div class="overlay toggle-btn-mobile"></div>
    <!--end overlay-->
    <!--Start Back To Top Button--><a href="javaScript:;" class="back-to-top"><i
                        class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->
    <!--footer -->
    <app-footer></app-footer>
    <!-- end footer -->
</div>
<!-- end wrapper -->
<!--start switcher-->
<app-switcherWrapper></app-switcherWrapper>

<script>
    import PerfectScrollbar from 'perfect-scrollbar';
    const socialListScrollbar = new PerfectScrollbar('.dashboard-social-list');
    const topCountriesScrollbar = new PerfectScrollbar('.dashboard-top-countries');
</script>